*{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
    background-color: #D7D7D7;
}

header {
	width: 100%;
	height: 35%;
    /*position: sticky;
    z-index: 2;
    top: -260px;
    */
}

#header_img {
    width: 100%;
    height: 80%;
    background-color: white;
    border: 1px solid #C8C8C8;
    border-bottom-color: #CB3131;
}

#header_img img {
    width: 100%;
    height: 100%;
}

#menu {
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #C8C8C8;
    display: flex;
    z-index: 2;
    top: 0;
}

/*-----------------------------*/
.menu_name_img img {
    height: 30px;
    width: 30px;
    margin-top: -6px;
}

.menu_name_img {
    cursor: default !important;
    border: none !important;
}

#btn-group {
    height: 100%;
    margin: auto;
    display: flex;
}

#btn-group div {
    background-color: white;
    height: 100%;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
}
#btn-group > a {
    text-decoration: none;
}

#btn-group > a:nth-child(2) div{
    color: #CB3131;
    border-bottom: 1px solid #CB3131;
}

#btn-group div:hover {
    color: #CB3131;
    border-bottom: 1px solid #CB3131;
}

/*-----------------------------*/
#foto{
    width: 55%;
    height: auto;
    margin: 17px auto auto ;
    border: 1px solid black;
}

#foto img {
    margin-bottom: -4px;
    width: 100%;
    height: 100%;
}

#name_left {
    width: 90%;
    height: 6%;
    margin: 10px auto auto;
    border-bottom: 1px solid black;
}

#name_left p {
    font-size: 25px;
    text-align: center;
    margin-top: 0;
}

section{
    width: 90%;
    height: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #D7D7D7;
    display: flex;
    justify-content: space-around;
}















#left {
    width: 19%;
    height: 100%;
    /* border: 1px solid #C8C8C8; */
    margin-right: 805px;
    border: 1px solid #CB3131;
    background-color: white;
}


/*---------------------------*/

.header {
    width: 100%;
    height: 75px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-top: 1px solid #CB3131;
    border-left: 1px solid #CB3131;
    border-right: 1px solid #CB3131;
}

.header_img_name {
    width: 50%;
    height: 100%;
    display: flex;
}

#center {
    width: 30%;
    height: 100%;
    background-color: #D7D7D7;
}

.mss {
    width: 900px;
    height: 100%;
    margin-left: -800px;
}



.center_name {
    width: 100px;
    height: 20px;
    margin-top: 19px;
    margin-left: 7px;
}

.center_name p{
    margin-left: -7px;
    margin-top: 0;
    font-size: 30px;
    text-align: center;
}

.edit_but {
    width: 65px;
    height: 25px;
    margin-top:7px;
    margin-left: 5px;
    border: 1px solid #C8C8C8;
}

/*-----------------------------*/
.section {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #CB3131;
    border-top: 1px solid black;

}

.friends {
    width: 29.5%;
    height: 238.406px;
    position: relative;
    float: left;
    margin: 15px;
    border: 1px solid black;
}

#friends_block {
    width: 90%;
    height: 100%;
    margin: 15px auto auto;
}

.friends img {
    width: 100%;
    height: 100%;
}