*{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
    background-color: #D7D7D7;
}

#modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    top:0;
}
#myModal {
    width: 50%;
    margin:auto !important;
    position:relative;
}

.modal_emerge{
    animation-name: emerge;
    animation-duration: .75s;
}

.mss_modal {
    width: 100%;
    height: 150px;
    margin: auto auto;
    margin-bottom: 15px;
    border: 1px solid #CB3131;
}

.modal_desemerge{
    animation-name: desemerge;
    animation-duration: .5s;
}

#send_but{
    width: 65px;
    height: 25px;
    margin-top:7px;
    margin-left: 10px;
    border: 1px solid #C8C8C8;
}

.post_input {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@keyframes emerge {
    from {top:-600px; opacity: 0}
    to {top:0; opacity: 1}
}

@keyframes desemerge {
    from {top: 0; opacity: 1}
    to {top:-600px; opacity: 0}
}

header {
	width: 100%;
	height: 35%;
}

#header_img {
    width: 100%;
    height: 80%;
    background-color: white;
    border: 1px solid #C8C8C8;
    border-bottom-color: #CB3131;
}

#header_img img {
    width: 100%;
    height: 100%;
}

#menu {
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #C8C8C8;
    display: flex;
    z-index: 2;
    top: 0;
}

/*-----------------------------*/

.menu_name_img img {
    height: 30px;
    width: 30px;
    margin-top: -6px;
}

.menu_name_img {
    cursor: default !important;
    border: none !important;
}

#btn-group {
    height: 100%;
    margin: auto;
    display: flex;
}

#btn-group div {
    background-color: white;
    height: 100%;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
}

#btn-group > a {
    text-decoration: none;
}

#btn-group > a:first-child div {
    color: #CB3131;
    border-bottom: 1px solid #CB3131;
}

#btn-group div:hover {
    color: #CB3131;
    border-bottom: 1px solid #CB3131;
}

/*-----------------------------*/
#foto{
    width: 180px;
    height: 180px;
    margin: 17px auto auto ;
    border: 1px solid black;
}

#foto img {
    width: 100%;
    height: 100%;
}

#name_left {
    width: 90%;
    height: 6%;
    margin: 10px auto auto;
    border-bottom: 1px solid black;
}

#name_left p {
    font-size: 25px;
    text-align: center;
    margin-top: 0;
}

#delete_nodelete{
    display: flex;
    justify-content: center;
}

.delete_but_com {
    width: 65px;
    height: 25px;
    margin-top:7px;
    margin-left: 4px;
    border: 1px solid #C8C8C8;
}

.delete_but_com:hover {
    background-color: red;
    color: white;
}

.no_delete_but_com {
    width: 80px;
    height: 25px;
    margin-top:7px;
    margin-left: 4px;
    border: 1px solid #C8C8C8;
}

.no_delete_but_com:hover {
    background-color: green;
    color: black;
}

/*-------------------------------------*/

section{
    width: 90%;
    height: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: #D7D7D7;
    display: flex;
    justify-content: space-around;
}

#left {
    width: 19%;
    height: 100%;
    /* border: 1px solid #C8C8C8; */
    border: 1px solid #CB3131;
    background-color: white;
}


#friends {
    width: 20%;
    height: 100%;
    border: 1px solid #C8C8C8;
    background-color: white;
 }

#friends_menu {
    width: 100%;
    height: 4%;
    display: flex;

}

#friends_menu p{
    margin-top: 2px;
    text-align: center;
}

#contacts {
    width: 50%;
    height: 100%;
    border: 1px solid #CB3131;
    color: #CB3131;
    cursor: pointer;
}

#music {
    width: 50%;
    height: 100%;
    border: 1px solid #CB3131;
    cursor: pointer;
}

#contacts:hover {
    color: #CB3131 !important;
}

#music:hover {
    color: #CB3131 !important;
}

#friends_section {
    width: 100%;
    height: 96%;
    border: 1px solid #CB3131;
    border-top: 0;

}

#cont_people {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    background-color: white;    
}

#cont_people p {
    margin-top: -3px;
    text-align: left;
}

#music_groups p {
    margin-top: -3px;
    text-align: center;
}
.people_foto {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    margin-left: 2.6px;
    border: 1px solid #C8C8C8;
}

.people_name {
    width: 100px;
    height: 15px;
    margin-top: 9px;
    margin-left: 5px;
}


.group_name {
    width: 150px;
    height: 15px;
    margin: auto;
}

#music_groups {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
/*---------------------------*/
.people{
    width: 75%;
    height: 35px;
    display: flex;
    background-color: white;
    z-index: 1;
    border: 1px solid black;
    margin-bottom: 16px;
    position: relative;
    cursor: pointer;
}

.people_status {
    width: 75%;
    height: 35px;
    background-color: white;
    z-index: 0;
    margin-top: -51px;
    position: relative;
    margin-bottom: 16px;

}

.people_stat {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    margin-left: 2.6px;
    display: flex;
}

.people_stat i {
    margin: auto;
}

.status_online{
    color: #59ff00;
}

.status_offline{
    color: #ff0000;
}

.people_hover {
    animation-name: slide_stat_left;
    animation-duration: 1s;
    left: 15px;
}

.people_hover + .people_status {
    animation-name: slide_stat;
    animation-duration: 1s;
    right: 15px;
}

.people:hover {
    animation-name: slide_stat_right;
    animation-duration: 1s;
    left: 0;
}

.people:hover + .people_status {
    animation-name: slide_status_right;
    animation-duration: 1s;
    right: 0;
}

.green:hover {
    border: 2px solid #21F710;
}
.red:hover {
    border: 2px solid #E30808;
}


@keyframes slide_stat_right {
    from {left: 15px;}
    to {left: 0;}
}

@keyframes slide_status_right {
    from {right: 15px;}
    to {right: 0;}
}

@keyframes slide_stat {
    from {right: 0;}
    to {right: 15px;}
}
@keyframes slide_stat_left {
    from {left: 0;}
    to {left: 15px;}
}

/*-----------------------------*/

/*----------------------------*/
.group{
    width: 90%;
    height: 35px;
    display: flex;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    margin-bottom: 16px;
    cursor: pointer;
}

.group_style {
    width: 90%;
    height: 35px;
    background-color: white;
    border: 1px solid black;
    z-index: 0;
    position: relative;
    margin-bottom: 0;
    display: none;
}
/*---------------------------------*/
.group:hover + .group_style{
    animation-name: slide;
    animation-duration: 1s;
    top: -17px;
    border-top: 0;
    display: flex;
}

.group:hover {
    border-bottom-style: dotted;
}

@keyframes slide {
    from {top: -50px;}
    to {top: -17px;}
}
/*---------------------------------*/

/*---------------------------*/

.header {
    width: 100%;
    height: 40%;
    display: flex;
    border-bottom: 1px solid black;
    background-color: white;
    justify-content: space-between;
}

.header_img_name {
    width: 50%;
    height: 100%;
    display: flex;
    cursor: pointer;
}

.header_img_name img {
    width: 100%;
    height: 100%;
}

#center {
    width: 55%;
    height: 100%;
    background-color: #D7D7D7;
}
/*-------------------------*/
.mss {
    width: 100%;
    height: 150px;
    margin: auto auto;
    margin-bottom: 15px;
    border: 1px solid #CB3131;
}
/*--------------------------*/
.center_img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top:9px;
    border: 1px solid black;
}

.center_name {
    width: 100px;
    height: 20px;
    margin-top: 19px;
    margin-left: 7px;
    border-right: 1px solid black;
}

.center_name p{
    margin-left: -7px;
    margin-top: 0;
    text-align: center;
}

.buttons_center {
    width: 150px;
    height: 40px;
    margin-top: 9px;
    display: flex;
}

.edit_but {
    width: 65px;
    height: 25px;
    margin-top:7px;
    margin-left: 60px;
    border: 1px solid #C8C8C8;
}



.edit_but:hover {
    background-color: #C8C8C8;
    color: white;
}

.delete_but {
    width: 65px;
    height: 25px;
    margin-top:7px;
    margin-left: 4px;
    border: 1px solid #C8C8C8;
}

.delete_but:hover {
    background-color: #C8C8C8;
    color: white;
}

/*-----------------------------*/
.section {
    width: 100%;
    height: 60%;
    background-color: white;
    padding: 5px;
}

.section p {
    margin-top: 4%;
    margin-left: 10px;
}