*{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
    background-color: #D7D7D7;
}

header {
	width: 100%;
	height: 35%;
}

#header_img {
    width: 100%;
    height: 80%;
    background-color: white;
    border: 1px solid #C8C8C8;
}

#menu {
    width: 100%;
    height: 12%;
    background-color: white;
    border: 1px solid #C8C8C8;
    display: flex;
}

/*-----------------------------*/

#btn-group {
    margin: auto;
}

#btn-group button {
    background-color: white;
    height: 100%;
    border: 1px solid #C8C8C8;
    color: black;
    padding: 10px 24px;
}

#btn-group button:hover {
    background-color: #C8C8C8;
}

/*-----------------------------*/
#foto{
    width: 90%;
    height: 30%;
    margin: 17px auto auto ;
    border: 1px solid #C8C8C8;
}

section{
    width: 90%;
    height: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: #D7D7D7;
    display: flex;
    justify-content: space-around;
}

#left {
    width: 19%;
    height: 100%;
    border: 1px solid #C8C8C8;
    background-color: white;
}


#friends {
    width: 20%;
    height: 100%;
    border: 1px solid #C8C8C8;
    background-color: white;
 }

#friends_menu {
    width: 100%;
    height: 4%;
    display: flex;

}

#contacts {
    width: 50%;
    height: 100%;
    border: 1px solid #C8C8C8;
}

#music {
    width: 50%;
    height: 100%;
    border: 1px solid #C8C8C8;
}

#friends_section {
    width: 100%;
    height: 96%;
}

#cont_people {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    background-color: white;    
}


#music_groups {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
/*---------------------------*/
.people{
    width: 75%;
    height: 35px;
    display: flex;
    background-color: white;
    z-index: 1;
    border: 1px solid #C8C8C8;
    margin-bottom: 16px;
    position: relative;
}

.people_status {
    width: 75%;
    height: 35px;
    background-color: white;
    z-index: 0;
    margin-top: -51px;
    position: relative;
    margin-bottom: 16px;

}

.people_stat {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    margin-left: 2.6px;
    display: flex;
}

.people_stat img {
    width: 50%;
    height: 50%;
    margin: auto;
}

.people:hover {
    animation-name: slide_stat_left;
    animation-duration: 1s;
    left: 15px;
}

.people:hover + .people_status {
    animation-name: slide_stat;
    animation-duration: 1s;
    right: 15px;
}

@keyframes slide_stat {
    from {right: 0;}
    to {right: 15px;}
}
@keyframes slide_stat_left {
    from {left: 0;}
    to {left: 15px;}
}

/*-----------------------------*/
.people_foto {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    margin-left: 2.6px;
    border: 1px solid #C8C8C8;
}

.people_name {
    width: 100px;
    height: 15px;
    margin-top: 9px;
    margin-left: 5px;
    border:1px solid #C8C8C8;
}
/*----------------------------*/
.group{
    width: 75%;
    height: 35px;
    display: flex;
    background-color: white;
    border: 1px solid #C8C8C8;
    z-index: 1;
    margin-bottom: 16px;
}

.group_style {
    width: 75%;
    height: 35px;
    background-color: white;
    border: 1px solid #C8C8C8;
    z-index: 0;
    position: relative;
    margin-bottom: 0;
    display: none;
}

.group:hover + .group_style{
    animation-name: slide;
    animation-duration: 1s;
    top: -17px;
    border-top: 0;
    display: flex;
}
.group:hover {
    border-bottom-style: dotted;
}

@keyframes slide {
    from {top: -50px;}
    to {top: -17px;}
}
/*---------------------------------*/
.group_name {
    width: 100px;
    height: 15px;
    margin: auto;
    border:1px solid #C8C8C8;
}

/*---------------------------*/

.header {
    width: 100%;
    height: 25%;
    display: flex;
    border-bottom: 1px solid #C8C8C8;
    background-color: white;
    justify-content: space-between;
}

.header_img_name {
    width: 50%;
    height: 100%;
    display: flex;
}

#center {
    width: 55%;
    height: 100%;
    background-color: #D7D7D7;
}

.mss {
    width: 100%;
    height: 230px;
    margin: auto auto;
    border: 1px solid #C8C8C8;
}

.center_img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top:9px;
    border: 1px solid #C8C8C8;
}

.center_name {
    width: 100px;
    height: 20px;
    margin-top: 19px;
    margin-left: 7px;
    border: 1px solid #C8C8C8;
}

.buttons_center {
    width: 150px;
    height: 40px;
    margin-top: 9px;
    display: flex;
}

.edit_but {
    width: 65px;
    height: 25px;
    margin-top:7px;
    margin-left: 5px;
    border: 1px solid #C8C8C8;
}

.delete_but {
    width: 65px;
    height: 25px;
    margin-top:7px;
    margin-left: 4px;
    border: 1px solid #C8C8C8;
}

.edit_but:hover {
    background-color: #C8C8C8;
    color: white;
}
.delete_but:hover {
    background-color: #C8C8C8;
    color: white;
}

/*-----------------------------*/
.section {
    width: 100%;
    height: 60%;
    border-bottom: 1px solid #C8C8C8;
    background-color: white;
}

.footer {
    width: 100%;
    height: 20%;
    background-color: white;
}
