html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    background-color: #D7D7D7;
}

header {
	width: 100%;
	height: 40%;
}

#header_img {
    width: 100%;
    height: 80%;
    background-color: white;
    border: 1px solid #C8C8C8;
}

#menu {
    width: 100%;
    height: 14%;
    background-color: white;
    border: 1px solid #C8C8C8;
    display: flex;
}

/*-----------------------------*/

#btn-group {
    margin: auto;
}

#btn-group button {
    background-color: white;
    border: 1px solid #C8C8C8;
    color: black;
    padding: 10px 24px;

}

#btn-group button:hover {
    background-color: #C8C8C8;
}

/*-----------------------------*/

#left {
	width: 20%;
	height: 100%;
    margin: 17px auto auto 125px;
    float: left;
    border: 1px solid #C8C8C8;
	background-color: white;
}

#foto{
    width: 230px;
    height: 230px;
    margin: 17px auto auto ;
    border: 1px solid #C8C8C8;
}

section{
    width: 60%;
    height: 100%;
    margin-top: 17px;
    margin-right: 125px;
    float: right;
    background-color: #D7D7D7;
    display: flex;
}

#center {
    width: 60%;
    height: 100%;
    background-color: #D7D7D7;
}

.mss {
    width: 100%;
    height: 230px;
    margin: auto auto;
    border: 1px solid #C8C8C8;
}

.header {
    width: 100%;
    height: 25%;
    display: flex;
    border-bottom: 1px solid #C8C8C8;
    background-color: white;
}

.center_img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top:9px;
    border: 1px solid #C8C8C8;
}

.center_name {
    width: 100px;
    height: 20px;
    margin-top: 19px;
    margin-left: 7px;
    border: 1px solid #C8C8C8;
}
/*---------------------------*/
.buttons_center {
    width: 150px;
    height: 40px;
    margin-top: 9px;
    margin-left: 160px;
    display: flex;
}

.edit_but {
    width: 65px;
    height: 25px;
    margin-top:7px;
    margin-left: 5px;
    border: 1px solid #C8C8C8;
}

.delete_but {
    width: 65px;
    height: 25px;
    margin-top:7px;
    margin-left: 4px;
    border: 1px solid #C8C8C8;
}

.edit_but:hover {
    background-color: #C8C8C8;
    color: white;
}
.delete_but:hover {
    background-color: #C8C8C8;
    color: white;
}

/*-----------------------------*/
.section {
    width: 100%;
    height: 60%;
    border-bottom: 1px solid #C8C8C8;
    background-color: white;
}

.footer {
    width: 100%;
    height: 20%;
    background-color: white;
}

#friends {
    width: 30%;
    height: 100%;
    margin-left: 35px;
    border: 1px solid #C8C8C8;
    background-color: white;
 }